

    .btns-container{
      margin-top: 1.5rem;
      display: flex;
      flex-direction: row;
      flex: 2;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

      .btn{
        margin-left: 1rem;
        margin-right: 1rem;
        border: none;
        text-align: center;
        padding: 1rem;
        border-radius: 0.3rem;
        box-shadow: 0.1rem 0.1rem 0.3rem #aaa;
        background: #f5f5f5;
        font: bold 13px Arial;
        color: #555;
      }

      .btn:hover {
          background: #cbcaca;
      }

      .btn:active {
        box-shadow: 0.1rem 0.1rem 0.2rem #3f3f3f;
        transform: translateY(0.1rem);
      }

  .popup{
    display: none;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
  }

  .popup-is-visible{
    display: flex;
  }

    .popup-content{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 20rem;
      text-align: center;
      box-shadow: 0.1rem 0.1rem 0.3rem #aaa;
      background: #f2f2f2;
      font: bold 13px Arial;
      color: #555;
    }

      .popup-title{
        font-size: 1.5em;
        padding: 1rem;
      }

    .popup-number-container{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      flex: 2;
      height: 11rem;
    }

    .popup-number-container-line{
      display: flex;
      flex-direction: row;

    justify-content: space-around;

    }

      .popup-number{
        border: 1px solid black;
        border-radius: 0.5rem;
        font-size: 2rem;
        padding:1rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 3rem;
      }

      .popup-number:hover{
        background:#cbcaca;
      }

      .popup-number:active{
        box-shadow: 0.01rem 0.15rem 0.2rem #3f3f3f;
        transform: translateY(-0.1rem);
      }

      .popup-number-is-active{
        background:#cbcaca;
      }

  .popup-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align:center;
    flex: 1;
  }

    .popup-btn{
          border: none;
          text-align: center;
          border-radius: 0.3rem;
          box-shadow: 0.1rem 0.1rem 0.3rem #aaa;
          background: #f5f5f5;
          font: bold 13px Arial;
          color: black;
          height: 3rem;
          line-height: 3rem;
          text-align: center;
          margin: 0;
          padding: 0;
          width: 3rem;
    }

    .popup-btn-clear{
        background: #e60000;
    }

    .popup-btn-clear:hover{
        background: red;
    }

    .popup-btn-quote{
      background: #eded00;
    }

    .popup-btn-quote:hover{
      background: #fcfc29;
    }
