@import '_variables';

.svg-container {
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    overflow: hidden;
}


.header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $lots-bg-dark-color;
}

 .header-h1 {
  color: $lots--color-color-light;
  margin: 0.8rem;
  }

  .header-image{
      height: 100px;
      width:100px;
  }

  .import-button{
    position: absolute;
    right: 0;
    margin-right: 1rem;
    stroke:$lots--color-color-light;
  }
