
.popin-import-sudoku-container{
  background: rgba(95, 95, 95, 0.5);
  position:absolute;
  width:100%;
  height: 100%;
  padding-top:5rem;
}

.popin-import-sudoku{
  margin:auto;
  padding:1rem;
  flex:1;
  flex-direction: column;
  max-width: 20rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(212,212,212)
}

.import-sudoku-container-buttons{
  margin-top:2rem;
  display:flex;
  align-items: center;
  justify-content: space-around;

}

.import-sudoku-file-container{
    overflow: hidden;
    position: relative;
    box-shadow: 0.1rem 0.1rem 0.3rem #aaa;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background: rgb(245, 245, 245);
}

.import-sudoku-file-container [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
