html{
  font-size: 10px;
  height: 100%;
}

@media screen and (min-width: 600px) {
  html{
    font-size: 12px;
  }
}

@media screen and (min-width: 700px) {
  html{
    font-size: 14px;
  }
}

*{
  font-family: 'Roboto','Open Sans' ;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}


.container{
  position: relative;
  height: 100%;
  width:100%;
}

.invisible{
  display:none;
}
