

.container-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.sudoku-container-align-top{
  flex: 1;
}
  .sudoku-container{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

      .sudoku-grid-line{
        display: flex;
        flex-direction: row;
      }

          .sudoku-grid-line:first-child{
             border-top: 0.12rem black solid;
          }

          .sudoku-grid-line:nth-child(3n){
            border-bottom: 0.12rem black solid;
          }

          .sudoku-grid-line:last-child{
             border-bottom: 0.12rem black solid;
          }

          .sudoku-grid-line:last-child .sudoku-square:nth-child(n){
            border-bottom: none;
          }

          .sudoku-grid-line:nth-child(3n) .sudoku-square:nth-child(n){
            border-bottom: none;
          }

            .sudoku-square:hover{
              background-color: #cbcaca;
            }

            .sudoku-square-is-active{
              background-color: #cbcaca;
            }

            .sudoku-square:first-child{
              border-left: 0.12rem black solid;
            }

            .sudoku-square:last-child{
              border-right: 0.12rem black solid;
            }

            .sudoku-square:nth-child(n){
              border-right: 0.04rem grey solid;
              border-bottom: 0.04rem grey solid;
            }

            .sudoku-square:nth-child(3n){
              border-right: 0.12rem black solid;
            }

            .sudoku-square:last-child{
              border-right: 0.12rem black solid;
            }

              .sudoku-square-case-text{
                height: 3rem;
                line-height: 3rem;
                text-align: center;
                margin: 0;
                padding: 0;
                width: 3rem;
              }

              .sudoku-square-case-text:active{
                box-shadow: 0.01rem 0.15rem 0.2rem #3f3f3f;
                transform: translateY(-0.1rem);
              }
