$lots-bg-dark-color:#2b2f3a;
$lots-bg-dark-color-faded:#2b2f3a88;
$lots-bg-grey-color:#282828;
$lots-bg-grey-color-faded:#28282888;
$lots-bg-grey-transparent-color:#cecece60;
$lots-bg-light-color:#ffffff;
$lots-bg-lightgrey-color:#f1f1f1;

$lots--color-color-dark :#2b2f3a;
$lots--color-color-dark-fade:#2b2f3a88;

$lots--color-color-light :#ffffff;
$lots--color-color-light-fade:#ffffff88;

$lots--color-color0 :#7a7a7a;
$lots--color-color0-faded:#7a7a7a33;
$lots--color-color1:#db686a;
$lots--color-color1-faded:#db686a33;
$lots--color-color2 :#20438b;
$lots--color-color2-faded:#20438b33;
$lots--color-color:$lots--color-color0,$lots--color-color1,$lots--color-color2;
$lots--color-color-faded:$lots--color-color0-faded,$lots--color-color1-faded,$lots--color-color2-faded;
