<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sudoku</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header-container">
      <h1 class="header-h1" >Sudoku</h1>
      <div class="svg-container import-button">
        <svg width="100%" height="100%">
          <rect x="15%" y="15%" width="70%" height="70%" style="stroke:inherit;stroke-width:1;fill:none"></rect>
          <line x1="30%" y1="50%"
                    x2="70%" y2="50%"
                    stroke="inherit"
              stroke-width="1"/>
          <line x1="50%" y1="30%"
                    x2="50%" y2="70%"
                    stroke="inherit"
              stroke-width="1"/>
        </svg>
      </div>
    </div>
  </header>

  <div class="container">
  <div class="popin-import-sudoku-container invisible">
    <div class="popin-import-sudoku">
      <div class="import-sudoku-explanation-container">
        <p>sélectionner un fichier pour importer un sudoku.</p>
      </div>
      <label class="import-sudoku-file-container">
          télécharger...
          <input type="file" class="import-sudoku-file"name="import-sudoku-file"/>
      </label>
      <span> Aucun fichier sélectionner</span>
        <div class="import-sudoku-container-buttons">
        <button class="btn import-sudoku-button-cancel">Annuler</button>
        <button class="btn import-sudoku-button-validate">Valider</button>
      </div>
    </div>
  </div>
  <div class="container-flex">
    <!--div.sudoku-container>div.sudoku-grid>div.sudoku-grid-line*9>div.sudoku-square*9>p.sudoku-square-case-text{1}--->
    <div class="sudoku-container">
      <div class="sudoku-grid-line">
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
      </div>
      <div class="sudoku-grid-line">
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
      </div>
      <div class="sudoku-grid-line">
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
      </div>
      <div class="sudoku-grid-line">
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
      </div>
      <div class="sudoku-grid-line">
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
      </div>
      <div class="sudoku-grid-line">
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
      </div>
      <div class="sudoku-grid-line">
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
      </div>
      <div class="sudoku-grid-line">
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
      </div>
      <div class="sudoku-grid-line">
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
        <div class="sudoku-square">
            <p class="sudoku-square-case-text" data-multichoice="false"></p>
        </div>
      </div>
    </div>
    <div class="popup">
      <div class="popup-content">
        <div class="popup-number-container">
          <div class="popup-number-container-line">
            <btn class="popup-number" data-number="1">1</btn>
            <btn class="popup-number" data-number="2">2</btn>
            <btn class="popup-number" data-number="3">3</btn>
          </div>
          <div class="popup-number-container-line">
            <btn class="popup-number" data-number="4">4</btn>
            <btn class="popup-number" data-number="5">5</btn>
            <btn class="popup-number" data-number="6">6</btn>
          </div>
          <div class="popup-number-container-line">
            <btn class="popup-number" data-number="7">7</btn>
            <btn class="popup-number" data-number="8">8</btn>
            <btn class="popup-number" data-number="9">9</btn>
          </div>
        </div>
        <div class="popup-btns">
          <btn class="popup-btn popup-btn-clear">C</btn>
          <btn class="popup-btn popup-btn-quote">?+</btn>
        </div>
      </div>
    </div>
    <div class="btns-container" style=>
      <btn class="btn btn-hint">Hint</btn>
      <btn class="btn btn-resolve-next">resolve next</btn>
      <btn class="btn btn-resolve-all">resolve all</btn>
    </div>
  </div>
</div>
</body>
</html>
